{% extends "plantilla.html" %}

{% block body %}
<h1>Editar álbum</h1>

<form action="/guardarCambios/{{album.0}}" method="post" class="container mt-4">

    <div class="mb-3">
        <label for="titulo" class="form-label">Título:</label>
        <input type="text" id="titulo" name="txtTitulo" class="form-control" value="{{album.1}}">
    </div>

    <div class="mb-3">
        <label for="artista" class="form-label">Artista:</label>
        <input type="text" id="artista" name="txtArtista" class="form-control" value="{{album.2}}">
    </div>

    <div class="mb-3">
        <label for="año" class="form-label">Año:</label>
        <input type="number" id="año" name="txtAnio" class="form-control" value="{{album.3}}">
    </div>

    <button type="submit" class="btn btn-primary">Editar álbum</button>

</form>

{% endblock %}

