<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Albums</title>
</head>
<body>

    {% with msj = get_flashed_messages()%}
    {% if msj%}
    {%for mensaje in msj%}
        <h1> {{mensaje}} </h1>
    {%endfor%}
    {%endif%}
    {%endwith%}

    <form action="/guardarAlbum" method="post">
        <label for="titulo">Título:</label>
        <input type="text"  name="txtTitulo"><br><br>

        <label for="artista">Artista:</label>
        <input type="text" name="txtArtista"><br><br>

        <label for="año">Año:</label>
        <input type="number" name="txtAnio"><br><br>

        <button type="submit">Guardar Album</button>
    </form>

<br>
<br>
<br>

<table>
<thead>
    <tr>

        <td>ID:</td>
        <td>Album:</td>
        <td>Artista:</td>
        <td>Año:</td>
        <td>operaciones:</td>

    </tr>
</thead>
<tbody>
    {%for album in albums%}
    <tr>
    <td>{{album.0}}</td>
    <td>{{album.1}}</td>
    <td>{{album.2}}</td>
    <td>{{album.3}}</td>
    <td><a href="/editar/{{album.0}}"> editar</a></td>
    <td><a href="#"> borrar</a></td>
    </tr>
    {%endfor%}
</tbody>
</table>

</body>
</html>