<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar Paciente</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <h2 class="welcome-message">Editar expediente</h2>

      <form
        action="/editarPaciente/{{ paciente.id }}"
        method="post"
        class="mt-4"
      >
        <div class="form-group">
          <label for="nombre">Nombre médico que atiende</label>
          <input
            type="text"
            class="form-control"
            id="nombre"
            name="medico"
            value="{{ paciente.medico }}"
            required
          />
        </div>

        <div class="form-group">
          <label for="paciente">Nombre Paciente</label>
          <input
            type="text"
            class="form-control"
            id="paciente"
            name="nombre"
            value="{{ paciente.nombre }}"
            required
          />
        </div>

        <div class="form-group">
          <label for="fecha">Fecha de Nacimiento</label>
          <input
            type="date"
            class="form-control"
            id="fecha"
            name="fecha_nac"
            value="{{ paciente.fecha_nac }}"
            required
          />
        </div>

        <div class="form-group">
          <label for="peso">Peso (kg):</label>
          <input
            type="number"
            step="0.01"
            class="form-control"
            id="peso"
            name="peso"
            value="{{ paciente.peso }}"
            required
          />
        </div>

        <div class="form-group">
          <label for="altura">Altura (m):</label>
          <input
            type="number"
            step="0.01"
            class="form-control"
            id="altura"
            name="altura"
            value="{{ paciente.altura }}"
            required
          />
        </div>

        <div class="form-group">
          <label for="temperatura">Temperatura (°C):</label>
          <input
            type="number"
            step="0.1"
            class="form-control"
            id="temperatura"
            name="temperatura"
            value="{{ paciente.temperatura }}"
            required
          />
        </div>

        <div class="form-group">
          <label for="latidosXminuto">Latidos X minuto:</label>
          <input
            type="number"
            class="form-control"
            id="latidosXminuto"
            name="latidosXminuto"
            value="{{ paciente.latidosXminuto }}"
            required
          />
        </div>

        <div class="form-group">
          <label for="SOX">SOX (%):</label>
          <input
            type="text"
            class="form-control"
            id="SOX"
            name="SOX"
            value="{{ paciente.SOX }}"
            required
          />
        </div>

        <div class="form-group">
          <label for="glucosa">Glucosa (mg/dL):</label>
          <input
            type="number"
            class="form-control"
            id="glucosa"
            name="glucosa"
            value="{{ paciente.glucosa }}"
            required
          />
        </div>

        <div class="form-group">
          <label for="edad">Edad:</label>
          <input
            type="number"
            class="form-control"
            id="edad"
            name="edad"
            value="{{ paciente.edad }}"
            required
          />
        </div>

        <div class="form-group">
          <label for="sintomas">Síntomas</label>
          <textarea class="form-control" id="sintomas" name="sintomas" required>
{{ paciente.sintomas }}</textarea
          >
        </div>

        <div class="form-group">
          <label for="diagnostico">Diagnóstico</label>
          <textarea
            class="form-control"
            id="diagnostico"
            name="diagnostico"
            required
          >
{{ paciente.diagnostico }}</textarea
          >
        </div>

        <div class="form-group">
          <label for="tratamiento">Tratamiento</label>
          <textarea
            class="form-control"
            id="tratamiento"
            name="tratamiento"
            required
          >
{{ paciente.tratamiento }}</textarea
          >
        </div>

        <div class="form-group">
          <label for="estudios">Estudios</label>
          <textarea class="form-control" id="estudios" name="estudios" required>
{{ paciente.estudios }}</textarea
          >
        </div>

        <button type="submit" class="btn btn-primary btn-block">
          Actualizar Paciente
        </button>
      </form>
    </div>
  </body>
</html>
